{% extends 'core/base.html' %}
{% load static %}

{% block title %}Learn | Sanskriti{% endblock %}

{% block content %}
<section class="section-page quiz-page">
    <div class="container">
        <div
            id="quizApp"
            data-current-mode="{{ quiz_mode }}"
            data-practice-url="{{ mode_urls.practice }}"
            data-timed-url="{{ mode_urls.timed }}"
            data-daily-url="{{ mode_urls.daily }}"
            data-question-total="{{ hero_question_total }}"
            data-topic-zone-count="{{ topic_zone_count }}"
            data-saved-result-count="{{ saved_result_count }}"
        >
            <noscript>
                <div class="quiz-result">
                    JavaScript is required to run the interactive quiz experience.
                </div>
            </noscript>
        </div>
    </div>
</section>
{% endblock %}


{% block extra_scripts %}
{{ quiz_payload|json_script:"initialQuizPayload" }}
{{ quiz_modes|json_script:"quizModesPayload" }}
{{ category_choices|json_script:"quizCategoryChoicesPayload" }}
<script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/learn-quiz.js' %}"></script>
{% endblock %}